tags
**/target/

# A folder to put your notes in.
.notes

.vscode/*
!.vscode/*.example
!.vscode/extensions.json
!.vscode/cspell.json
!.vscode/dictionaries/*

.idea

.devcontainer/devcontainer.json

# Compiler error logs
*ice*.txt

# You can use playground folder for your experiments.
samples/playground
samples/**/mir_dump/**
samples/**/main

*.pdb
*.exe
*.out
*.o
*.mir
*.ll
*.bc
*.json
./main

*.log

# Performance test results
*.bench
*.data
*.svg

scripts/**/out
scripts/**/work
scripts/**/venv

# Profiling results
*.folded

# Leaf binary files (as a convention, add thes prefixes to the binary files)
*-leaf
*-rustc
*-orig

.z3-trace
*.smt2

**/leaf_out/**

*.rkyv