[build]
rustflags = [
    $core_build_cfg_switch "--cfg",
    $core_build_cfg_switch "core_build",
    "-Ccodegen-units=1",
]

[env]
LEAFC_CODEGEN_ALL_MIR = "true"
LEAFC_BUILDING_CORE = "true"
$leaf_as_in_core_switch LEAFC_RUNTIME_SHIM__LOCATION = "core"
$leaf_as_external_switch LEAFC_RUNTIME_SHIM__LOCATION__EXTERNAL__SEARCH_PATH = "deps"
