{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [
        {
            "type": "lldb",
            "request": "launch",
            "name": "Launch Compiler",
            "cargo": {
                "args": [
                    "build",
                    "--bin",
                    "compiler",
                ]
            },
            "args": [
                "${workspaceFolder}/samples/<YOUR_TARGET_PROGRAM_RUST_FILE>"
            ],
            "env": {
                "LD_LIBRARY_PATH": "${env:RUSTUP_HOME}/toolchains/<TOOLCHAIN_VERSION in rust-toolchain.toml>/lib",
                // Your desired logging settings.
                "RUST_LOG": "debug",
                "LEAF_LOG": "runtime::backends::basic=debug",
            }
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Launch Program",
            "cwd": "<PREFERRABLY_AS_SAME_AS_THE_EXECUTABLE_DIR>",
            "program": "<YOUR_TARGET_PROGRAM_EXECUTABLE_FILE>",
            "sourceLanguages": [
                "rust"
            ],
            "args": [],
            "env": {
                "LD_LIBRARY_PATH": "${env:RUSTUP_HOME}/toolchains/<TOOLCHAIN_VERSION in rust-toolchain.toml>/lib",
                "RUST_BACKTRACE": "1",
                // Your desired logging settings.
                "RUST_LOG": "debug",
                "LEAF_LOG": "runtime::backends::basic=debug",
            }
        },
        {
            "type": "lldb",
            "request": "launch",
            "name": "Launch Current File",
            "cwd": "${fileDirname}",
            "preLaunchTask": "leaf: compile",
            "program": "${fileDirname}/${fileBasenameNoExtension}.o",
            "sourceLanguages": [
                "rust"
            ],
            "sourceMap": {
                "${fileBasename}": "${file}",
            },
            "args": [],
            "env": {
                "LD_LIBRARY_PATH": "${env:RUSTUP_HOME}/toolchains/<TOOLCHAIN_VERSION in rust-toolchain.toml>/lib",
                "RUST_BACKTRACE": "1",
                // Your desired logging settings.
                "RUST_LOG": "debug",
                "LEAF_LOG": "runtime::backends::basic=debug",
            }
        },
    ]
}